<h3 class="titleProducts titleProducts-center">
  List of products
  <small class="text-muted">In table format</small>
</h3>
<table class="table table-hover table-dark table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <td>Title</td>
      <td>Price</td>
      <td>Thumbnail</td>
    </tr>
  </thead>
  {{#each products}}
    <tr>
      <th>{{this.id}}</th>
      <td>{{this.title}}</td>
      <td>{{this.price}}</td>
      <td><img
          class="imgProduct"
          src={{this.thumbnail}}
          alt={{this.name}}
        /></td>
    </tr>
  {{/each}}
</table>